{{template "base" .}}

{{define "title"}}Books{{end}}

{{define "main"}}

{{if .Books}}
<div class="py-3">
    <div class="container">
        <div class="text-center">
            <a href="/books/create">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Add book</button>
            </a> <br>
        </div>
        <h1 class="h3 mb-3 py-3 fw-normal text-center">Book list:</h1>
        <div class="album">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
                    {{range .Books}}
                    <div class="col">
                        <div class="card shadow-sm">
                            {{ if .ImageLink}}
                            <img src="{{.ImageLink}}" class="bd-placeholder-img card-img-top" style="height: 214px; width: 100%; display: block;" width="100%" height="100%"  alt="">
                            {{ else }}
                            <img src="/static/assets/book_logo512.png" class="bd-placeholder-img card-img-top" width="100%" height="100%"  alt="">
                            {{ end }}
                            <div class="card-body">
                                <p class="card-text"> {{.Name}} ({{.AltName}})</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/book?id={{.ID}}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View info</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>

{{ else }}
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-8 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Looking for books? There are not anyone &#128546;</h1>
            <p class="lead"> Let's create one. Press the blue button </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="/books/create">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Add book</button>
                </a>
            </div>
        </div>
        <div class="col-lg-3 offset-lg-1 p-0 overflow-hidden">
            <img class="rounded-lg-3" src="/static/assets/book_logo512.png" alt="" width="256" height="256">
        </div>
    </div>
</div>
{{ end }}

{{end}}