{{template "base" .}}

{{define "title"}}Give book{{end}}

{{define "main"}}

{{if .Books}}
<div class="text-center py-3">
    <div class="container">
        <div class="w-100 d-flex justify-content-center">
            {{with .User}}
            <form enctype="multipart/form-data" action="/user/give?id={{.ID}}" method="post">
                {{end}}
                <img class="mb-4" src="/static/assets/book_logo.png" alt="">
                <h1 class="h3 mb-3 fw-normal">Give book</h1>
                {{ with .Error }}
                <div class="alert alert-danger" role="alert">
                    {{ . }}
                </div>
                {{ end }}
                <div class="form-floating mb-1">
                    <input type="date" class="form-control" name="return_date" id="return_date">
                    <label for="return_date">return date</label>
                </div>
                <select name="book" id="book" class="form-select mb-1" size="3">
                    {{range .Books}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
                <div>
                    <input class="w-100 btn btn-lg btn-primary mt-3" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</div>

{{ else }}
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-8 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Looking for books? There are not anyone &#128546;</h1>
            <p class="lead"> Let's create one. Press the blue button </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="/books/create">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Add book</button>
                </a>
            </div>
        </div>
        <div class="col-lg-3 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="/static/assets/book_logo512.png" alt="" width="256" height="256">
        </div>
    </div>
</div>
{{ end }}

{{end}}